<template>
    <v-row justify="center" align="center">
        <v-col>
            <a href="http://app.bonsaitrees.io:3000">APP</a>
            <a href="http://blog.bonsaitrees.io:3000">BLOG</a>
            <a href="http://shop.bonsaitrees.io:3000">SHOP</a>
        </v-col>
    </v-row>
</template>

<script>
    export default {

    }
</script>
